* {
  margin: 0;
}
.navbar {
  background-color: rgb(14 82 255 / 99%);

  .title {
    color: white;
    font: 500;
    width: 50%;
    align-items: center;
  }
  .head {
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
   

    .nav_right {
      display: flex;
      align-items: flex-end;
      gap: 2rem;
      width: 40%;
      align-items: flex-end;
      justify-content: flex-end;
      align-items: center;
      a{
        color: white;
        text-decoration: none;
      }
      .bt1{
        color: white;
        background-color: rgb(63, 61, 61);
        cursor: pointer;
      }
    }
  }
}
